[Desktop Entry]
Name=Chat Desk
Description=A self-hosted chat application for desktop written in Flutter!
Exec=/usr/bin/chat_desk
Icon=/opt/chat_desk_icon.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Social;Chat;